.config
.config.old
include/config
include/generated
.*.cmd
scripts/basic/fixdep
scripts/kconfig/*.o
scripts/kconfig/conf
scripts/kconfig/nconf*
scripts/kconfig/*.lex.c
scripts/kconfig/*.tab.c
scripts/kconfig/*.tab.h
scripts/sorttable
.ccls-cache
arch/x86/include/generated
/arch/x86/tools/relocs_common.o
/arch/x86/tools/relocs_64.o
/arch/x86/tools/relocs_32.o
/arch/x86/tools/relocs
/scripts/mod/modpost
/scripts/mod/modpost.o
/scripts/mod/mk_elfconfig
/scripts/mod/devicetable-offsets.s
/scripts/mod/devicetable-offsets.h
/scripts/mod/symsearch.o
/scripts/mod/empty.o
/scripts/mod/elfconfig.h
/scripts/mod/file2alias.o
/scripts/mod/sumversion.o
/kernel/bounds.s
/.checked-atomic-arch-fallback.h
/.missing-syscalls.d
/arch/x86/kernel/asm-offsets.s
/.checked-atomic-instrumented.h
/.checked-atomic-long.h
/tools/objtool/elf.o
/tools/objtool/check.o
/tools/objtool/arch/x86/objtool-in.o
/tools/objtool/arch/x86/special.o
/tools/objtool/arch/x86/decode.o
/tools/objtool/libctype.o
/tools/objtool/objtool-in.o
/tools/objtool/objtool.o
/tools/objtool/builtin-check.o
/tools/objtool/orc_gen.o
/tools/objtool/libstring.o
/tools/objtool/weak.o
/tools/objtool/special.o
/tools/objtool/orc_dump.o
/tools/objtool/librbtree.o
/tools/objtool/str_error_r.o
/tools/objtool/fixdep-in.o
/tools/objtool/fixdep.o
/vmlinux
/vmlinux.symvers
/init/utsversion-tmp.h
/modules.builtin
/.vmlinux.export.c
*.o
*.a
*.o.d
*.order
*.bin
*.elf
*.so
*.so.dbg
/System.map
/compile_commands.json
/modules.builtin.modinfo
vmlinux.bin.xz
bzImage
.vscode
__pycache__
*.pyc
/tags
