.config
.config.old
include/config
include/generated
.*.cmd
scripts/basic/fixdep
scripts/kconfig/*.o
scripts/kconfig/conf
scripts/kconfig/nconf*
scripts/kconfig/*.lex.c
scripts/kconfig/*.tab.c
scripts/kconfig/*.tab.h
scripts/sorttable
.ccls-cache
arch/x86/include/generated
tools/relocs
tools/
